body {
  font-family: Arial;
  background-color: #f4f4f4;
  color: #333;
}

h1 {
  color: #9a1281;
}

ul {
  list-style-type: none;
}


.main-content {
  background-color: #ffffff;
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #8bc34a;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
